<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Opencart App Test" thread-count="2" parallel="tests" verbose="4">

	<listeners>
		<listener
			class-name="com.qa.reportUtility.Allure_Utility"/>
	<listener
			class-name="com.qa.reportUtility.Extent_Utility"/>
	</listeners>
	
<test name="Test Basics 1">

		<classes>
			<class name="com.qa.pageTest.QaFox_PageTest"/>	
		</classes>
</test>

</suite>